html { 
  overflow-x: hidden; 
  overflow-y: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    overflow-y: hidden;
}

#ui {
	background-color: ROYALBLUE;
    width: 40vw;
    height: 30vh;
    left: 30vw;
    top: 20vh;
    position: absolute;
}